nav{
  position: relative;
  .dropdown{
    position: relative;
    &:after{
      content: '\E80B';
      font-family: 'fontello';
      position: absolute;
      right: -.25rem;
    }
    &:hover{
      .sub-menu{
        display: block;
      }
    }
    // &.active{
    //   .sub-menu{
    //     display: block;
    //   }
    // }
    .sub-menu{
      display: none;
      position: absolute;
      width: 330px;
      top: 3rem;
      left: -5rem;
      text-align: center;
      a{
        padding: .3rem 0;
        display: block;
        &:hover{
          color: #FB5607;
        }
      }
    }
  }
}
